- name: Update apt
  apt:
    update_cache: yes
    upgrade: dist

- name: Install required packages
  apt:
    name:
      - docker.io
      - openjdk-11-jdk
      - make
      - helm
      - curl
    state: present

- name: Install kubectl
  shell: |
    curl -LO "https://dl.k8s.io/release/$(curl -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
    install -o root -g root -m 0755 kubectl /usr/local/bin/kubectl
  args:
    creates: /usr/local/bin/kubectl

- name: Add kubectl aliases to ~/.bashrc
  blockinfile:
    path: ~/.bashrc
    marker: "# {mark} KUBECTL ALIASES"
    block: |
      alias k='kubectl'
      alias kgp='kubectl get pods'
      alias kgs='kubectl get svc'
      alias kdp='kubectl describe pod'
      alias kgn='kubectl get nodes'
      alias kaf='kubectl apply -f'
      alias kdf='kubectl delete -f'
      alias kctx='kubectl config use-context'
      alias kns='kubectl config set-context --current --namespace'

- name: Source .bashrc to apply alias immediately
  shell: source ~/.bashrc
  args:
    executable: /bin/bash
