- name: Update apt
  apt:
    update_cache: yes
    upgrade: dist

- name: Install required packages
  apt:
    name:
      - docker.io
      - openjdk-11-jdk
      - make
      - curl
    state: present

- name: Install kubectl
  shell: |
    curl -LO "https://dl.k8s.io/release/v1.31.0/bin/linux/amd64/kubectl"
    install -o root -g root -m 0755 kubectl /usr/local/bin/kubectl
  args:
    creates: /usr/local/bin/kubectl

- name: Install Helm
  shell: |
    curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash
  args:
    creates: /usr/local/bin/helm

- name: Add kubectl aliases to ~/.bashrc
  blockinfile:
    path: ~/.bashrc
    marker: "# {mark} KUBECTL ALIASES"
    block: |
      alias k='kubectl'
      alias kgp='kubectl get pods'
      alias kgs='kubectl get svc'
      alias kdp='kubectl describe pod'
      alias kgn='kubectl get nodes'
      alias kaf='kubectl apply -f'
      alias kdf='kubectl delete -f'
      alias kctx='kubectl config use-context'
      alias kns='kubectl config set-context --current --namespace'
