- name: Update apt cache
  apt:
    update_cache: yes
  environment:
    DEBIAN_FRONTEND: noninteractive

- name: Install nfs-common (Debian/Ubuntu)
  apt:
    name: nfs-common
    state: present
  when: ansible_os_family == "Debian"
