- name: Register master node to RKE2 cluster
  shell: |
    curl --insecure -fL {{ server_url }}/system-agent-install.sh | sudo sh -s - \
      --server {{ server_url }} \
      --label 'cattle.io/os=linux' \
      --token {{ token }} \
      --ca-checksum {{ ca_checksum }} \
      --etcd --controlplane
  args:
    executable: /bin/bash
  when: "'masters' in group_names"