- name: Register master nodes to Rancher RKE2 cluster
  hosts: master
  become: yes
  tasks:
    - name: Run Rancher registration script on master nodes
      shell: |
        curl -fL https://{{ rancher_ip }}/system-agent-install.sh | sudo sh -s - \
        --server https://{{ rancher_ip }} \
        --token {{ registration_token }} \
        --ca-checksum {{ ca_checksum }} \
        --label 'cattle.io/os=linux' \
        --etcd --controlplane

- name: Register worker nodes to Rancher RKE2 cluster
  hosts: worker
  become: yes
  tasks:
    - name: Download and run Rancher registration script
      shell: |
        curl -fL https://{{ rancher_ip }}/system-agent-install.sh | sudo sh -s - \
        --server https://{{ rancher_ip }} \
        --token {{ registration_token }} \
        --ca-checksum {{ ca_checksum }} \
        --label 'cattle.io/os=linux' \
        --worker
